@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.media_bg_load {
  position: relative;
  isolation: isolate;
}

.media_bg_load::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
  --size: 5rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border-style: solid;
  border-width: calc(var(--size) / 10);
  border-color: var(--clr_white_3);
  border-top-color: transparent;
  animation: loadSpin 1s linear infinite;
}

@keyframes loadSpin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

:root {
  --clr_1: #151719;
  --clr_1_1: #292d30;

  --clr_2: #5d5dff;
  --clr_3: #2563eb;
  --clr_4: #22c55e;

  --clr_white_1: #ebf1f5;
  --clr_white_2: #d9e3ea;
  --clr_white_3: #9ba9b4;
  --clr_white_4: #707d86;

  line-height: 1.4;
}

body {
  background-color: var(--clr_1);
  color: var(--clr_white_2);
  font-family: "Inter";
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible {
  outline: 0;
  animation: focusReverse 0.4s ease forwards;
}

@keyframes focusReverse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  /* padding: 1.2rem 2rem; */

  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */

  align-items: center;

  width: 75%;
}

.App > * {
  width: 100%;
}

.Header {
  /* width: 75%; */
  /* width: 100%; */
  min-height: 75px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

@media (width < 1300px) {
  .Header {
    grid-template-columns: auto auto auto;
  }
}

.header_logo {
  grid-column: 1;
  transition: 0.2s;
  display: flex;

  justify-self: flex-start;
}

.header_logo:hover {
  transform: scale(1.2);
}

.header_logo svg {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  fill: var(--clr_2);
}

.Nav {
  grid-column: 2;
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;

  justify-self: center;
}

.NavItem {
  color: var(--clr_white_3);
  transition: 0.2s;
}

.NavItem:hover {
  color: var(--clr_white_1);
}

.NavItem.active {
  color: var(--clr_white_1);
}

.nav_indicator {
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 50px;
  height: 2px;
  background-color: var(--clr_2);
  transition: 0.2s;
  translate: -50% 0;
  z-index: 980;
}

.NavItem {
  display: flex;
  flex-direction: column;
  z-index: 990;
}

.NavItem.dropdown a {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.dropdown_icon svg {
  --size: 0.6rem;
  height: var(--size);
  width: var(--size);
  fill: var(--clr_white_3);
  rotate: -0deg;
  transition: 0.2s;
}

.dropdown_hover .dropdown_icon svg {
  rotate: -180deg;
}

.nav_dropdown {
  position: relative;
}

.nav_dropdown:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2rem;
  translate: 0 -1rem;
  z-index: 1000;
}

.nav_dropdown_inner {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: max-content;
  background: var(--clr_1_1);
  box-shadow: 0 0 2rem rgb(0 0 0 / 0.5);
  border-radius: 0.2rem;
}

.nav_dropdown_item {
  /* padding: 0.2rem; */
  padding: 0.4rem 1rem;
  color: var(--clr_white_2);
  border-radius: 0.2rem;
  transition: 0.2s;
}

.nav_dropdown_item:hover {
  color: var(--clr_white_1);
  background: var(--clr_2);
}

.header_buttons {
  grid-column: 3;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.Button {
  background: var(--clr_2);
  padding: 0.4rem 1.2rem;
  border: 0.1rem solid var(--clr_2);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-out;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
  border-radius: 0.2rem;
  user-select: none;
  font-family: "Inter";
  font-weight: 500;
}

.Button:hover {
  background: transparent;
}

.Button:focus {
  outline: 0;
}

.Button:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 1rem var(--clr_2);
  opacity: 0.4;
}

.Button:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.2rem;
}

.Button:focus:after {
  animation: focusAni 0.6s ease-out;
}

@keyframes focusAni {
  0% {
    box-shadow: 0 0 0.8rem -0.8rem var(--clr_2);
    opacity: 0.5;
  }
  100% {
    box-shadow: 0 0 0.8rem 1.4rem var(--clr_2);
    opacity: 0;
  }
}

.button_secondary {
  background: var(--clr_1_1);
  color: var(--clr_white_1);
  border-color: var(--clr_1_1);
}

.button_secondary:before {
  box-shadow: none;
}

.button_secondary:hover {
  color: var(--clr_white_1);
  background: transparent;
}

.AppBody {
  display: flex;
  flex-direction: column;
}

.body_section {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.body_section.hero_section {
  max-width: 75%;
  align-self: center;
  text-align: center;
}

.hero_section .heading_primary {
  font-size: 3.6rem;
  font-weight: 700;
}

.hero_section .heading_secondary {
  font-size: 1.5rem;
  color: var(--clr_white_3);
}

.heading_primary {
  font-size: 2rem;
  font-weight: 700;
}

.heading_secondary {
  font-size: 1.2rem;
  color: var(--clr_white_3);
}

.hero_buttons {
  display: flex;
  gap: 1rem;

  align-self: center;
}

.hero_buttons .Button {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
}

.body_section.hero_video {
  position: relative;
  width: 85%;
  align-self: center;
}

.hero_video_icon {
  position: absolute;
  z-index: 990;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: var(--clr_white_2);
  display: flex;
  border-radius: 0.2rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 2rem var(--clr_1);
}

.hero_video_icon:hover {
  background: var(--clr_white_1);
  transform: scale(1.25);
}

.hero_video_icon svg {
  fill: var(--clr_2);
  --size: 2rem;
  height: var(--size);
  width: var(--size);
}

.hero_vid_img {
  position: relative;
  z-index: 980;
}

.hero_vid_img img {
  max-width: 100%;
  border-radius: 0.2rem;
  transition: 0.2s;
  z-index: 980;
  position: relative;
}

.hero_video:has(.hero_video_icon:hover) .hero_vid_img img {
  filter: saturate(3.6);
}

.video_popup {
  position: fixed;
  z-index: 1000;
  /* left: 50%;
  top: 50%;
  translate: -50% -50%; */

  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

.close_popup {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: var(--clr_2);
  --size: 3rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  z-index: 1020;

  transition: 0.2s;
  cursor: pointer;
  opacity: 0.5;
}

.close_popup:hover {
  scale: 1.25;
  opacity: 1;
}

.close_popup:before,
.close_popup:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  height: calc(var(--size) / 1.5);
  width: calc(var(--size) / 10);
  background: var(--clr_white_1);
  border-radius: 100rem;
}

.close_popup:before {
  rotate: -45deg;
}

.close_popup:after {
  rotate: 45deg;
}

.video_popup video {
  z-index: 1010;
  border-radius: 0.2rem;
  max-height: 75vh;
  max-width: 75vw;
  min-height: 50vh;
  min-width: 50vw;
  background: rgb(0 0 0 / 50%);
  box-shadow: 0 0 5rem rgb(0 0 0 / 50%);
}

.video_popup::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: var(--clr_1);
  opacity: 0.75;
}

.BgSvg {
  position: absolute;
  z-index: -1;
}

.BgSvg1 {
  right: 0;
  top: 0;
}

.BgSvg2 {
  left: -12rem;
  bottom: -6rem;
}

.BgSvg1 stop {
  stop-color: var(--clr_2);
}

.body_section:not(:first-child) {
  border-bottom: 1px solid var(--clr_1_1);
  gap: 2rem;
}

.body_section:last-child {
  margin-bottom: 5rem;
}

.body_section.services_section {
  gap: 4rem;
}

.services_headings {
  width: 75%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services_body {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 5rem;
  counter-reset: service_title_counter;
}

.service {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service_icon {
  position: relative;
}

.service_icon svg {
  --size: 4rem;
  height: var(--size);
  width: var(--size);
}

.service_icon rect {
  fill: var(--clr_2);
}

.service_icon path {
  stroke: var(--clr_white_2);
}

.service:not(:last-child) .service_icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 5rem / 2);
  translate: -50% -50%;
  height: 1px;
  background: var(--clr_1_1);
  width: 20vw;
}

.service_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr_white_2);
}

.service_title:before {
  counter-increment: service_title_counter;
  content: counter(service_title_counter) ". ";
}

.service_subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr_white_3);
}

.body_section.features_section {
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

.features_section > * {
  flex: 1;
}

.features_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub_heading {
  font-family: "Architects Daughter";
  color: var(--clr_2);
  font-size: 1.2rem;
}

.icon_list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.icon_list_item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon_list_icon svg {
  --size: 0.8rem;
  height: var(--size);
  width: var(--size);
  fill: var(--clr_4);
}

.icon_list_text {
  color: var(--clr_white_3);
  font-size: 1.2rem;
}

.testimonial {
  display: flex;
  gap: 1rem;
}

.testimonial_img > img {
  border-radius: 50%;
  --size: 40px;
  height: var(--size);
  width: var(--size);
}

.testimonial_right {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
}

.testimonial_body {
  color: var(--clr_white_3);
  font-style: italic;
  width: 100%;
}

.testimonial_name {
  position: relative;
  font-weight: 500;
  --indicatorSize: 25px;
  padding-left: calc(var(--indicatorSize) + 0.5rem);
}

.testimonial_name:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  height: 2px;
  width: var(--indicatorSize);
  background-color: var(--clr_white_2);
}

.testimonial_position {
  position: relative;
  font-weight: 500;
  color: var(--clr_2);
  transition: 0.2s;
  --indicatorSize: 5px;
  padding-left: calc(var(--indicatorSize) + 0.5rem);
  margin-left: 0.5rem;
}

.testimonial_position:hover {
  color: var(--clr_white_1);
}

.testimonial_position:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  height: 2px;
  width: var(--indicatorSize);
  background-color: var(--clr_1_1);
}

.features_right {
  position: relative;
}

.features_right img {
  max-width: 100%;
}

.scale_animation > div {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  --size: 75px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background: var(--clr_2);

  animation: scale_ani 8s linear infinite;
}

.sa_1 {
  animation-delay: 0s !important;
}
.sa_2 {
  animation-delay: 2s !important;
}
.sa_3 {
  animation-delay: 4s !important;
}
.sa_4 {
  animation-delay: 6s !important;
}
.sa_5 {
  animation-delay: 8s !important;
}

@keyframes scale_ani {
  0% {
    scale: 1;
    opacity: 1;
  }
  50% {
    scale: 2.5;
    opacity: 1;
  }
  100% {
    scale: 4;
    opacity: 0;
  }
}

.body_section.tabs_section {
  text-align: center;
  align-items: center;
  gap: 4rem;
}

.tabs_section_headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.tabs_section_headings > .heading_primary {
  width: 75%;
}

.Tabs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  align-self: stretch;
}

.tabs_head {
  display: flex;
  gap: 1rem;
}

.tab_head {
  background: var(--clr_1_1);
  padding: 0.4rem 1rem;
  border-radius: 100rem;
  color: var(--clr_white_3);
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(0.85);

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.tab_head:hover {
  filter: brightness(1.25);
}

.tab_head.active {
  filter: brightness(1.25);
}

.tabs_head:has(.tab_head:hover) .tab_head {
  filter: brightness(0.85);
}

.tabs_head:has(.tab_head:hover) .tab_head:hover {
  filter: brightness(1.25);
}

.tab_head svg {
  fill: var(--clr_2);
  --size: 1rem;
  height: var(--size);
  width: var(--size);
}

.tabs_body {
  min-height: 50vh;
  max-height: 50vh;
  width: 100%;
  position: relative;
}

.Tab {
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  overflow: hidden;
  background: var(--clr_1_1);

  position: absolute;
  inset: 0;
}

.Tab > * {
  flex: 1;
  max-width: 50%;
}

.tab_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}

.tab_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr_white_2);
}

.tab_body {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr_white_3);
}

.tab_button {
  margin-top: 0.5rem;
}

.tab_image img {
  max-width: 100%;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  filter: saturate(4) grayscale(0.8);
}

/*  */
/*  */
/*  */
/* CSSTransition */
/*  */
/*  */
/*  */

.nav_dropdown {
  transition: 1s;
}

.nav_dropdown.enter {
  transform: scale(1.1) translateY(1rem);
  opacity: 0;
}
.nav_dropdown.enter-active {
  transform: scale(1) translateY(0);
  opacity: 1;
}
.nav_dropdown.exit {
  transform: scale(1) translateY(0);
  opacity: 1;
}
.nav_dropdown.exit-active {
  transform: scale(1.1) translateY(1rem);
  opacity: 0;
}
