@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr_1: #151719;
  --clr_1_1: #292d30;

  --clr_2: #5d5dff;
  --clr_3: #2563eb;
  --clr_4: #22c55e;

  --clr_white_1: #ebf1f5;
  --clr_white_2: #d9e3ea;
  --clr_white_3: #9ba9b4;
  --clr_white_4: #707d86;

  line-height: 1.4;
}

body {
  background-color: var(--clr_1);
  color: var(--clr_white_2);
  font-family: "Inter";
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible {
  outline: 0;
  animation: focusReverse 0.4s ease forwards;
}

@keyframes focusReverse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  /* padding: 1.2rem 2rem; */

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  align-items: center;

  width: 75%;
}

.App > * {
  width: 100%;
}

.Header {
  /* width: 75%; */
  /* width: 100%; */
  min-height: 75px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

@media (width < 1300px) {
  .Header {
    grid-template-columns: auto auto auto;
  }
}

.header_logo {
  grid-column: 1;
  transition: 0.2s;
  display: flex;

  justify-self: flex-start;
}

.header_logo:hover {
  transform: scale(1.2);
}

.header_logo svg {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  fill: var(--clr_2);
}

.Nav {
  grid-column: 2;
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;

  justify-self: center;
}

.NavItem {
  color: var(--clr_white_3);
  transition: 0.2s;
}

.NavItem:hover {
  color: var(--clr_white_1);
}

.NavItem.active {
  color: var(--clr_white_1);
}

.nav_indicator {
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 50px;
  height: 2px;
  background-color: var(--clr_2);
  transition: 0.2s;
  translate: -50% 0;
  z-index: 980;
}

.NavItem {
  display: flex;
  flex-direction: column;
  z-index: 990;
}

.NavItem.dropdown a {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.dropdown_icon svg {
  --size: 0.6rem;
  height: var(--size);
  width: var(--size);
  fill: var(--clr_white_3);
  rotate: -0deg;
  transition: 0.2s;
}

.dropdown_hover .dropdown_icon svg {
  rotate: -180deg;
}

.nav_dropdown {
  position: relative;
}

.nav_dropdown:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 2rem;
  translate: 0 -1rem;
  z-index: 1000;
}

.nav_dropdown_inner {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: max-content;
  background: var(--clr_1_1);
  box-shadow: 0 0 2rem rgb(0 0 0 / 0.5);
  border-radius: 0.2rem;
}

.nav_dropdown_item {
  /* padding: 0.2rem; */
  padding: 0.4rem 1rem;
  color: var(--clr_white_2);
  border-radius: 0.2rem;
  transition: 0.2s;
}

.nav_dropdown_item:hover {
  color: var(--clr_white_1);
  background: var(--clr_2);
}

.header_buttons {
  grid-column: 3;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.Button {
  background: var(--clr_2);
  padding: 0.4rem 1.2rem;
  border: 0.1rem solid var(--clr_2);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-out;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
  border-radius: 0.2rem;
  user-select: none;
  font-family: "Inter";
  font-weight: 500;
}

.Button:hover {
  background: transparent;
}

.Button:focus {
  outline: 0;
}

.Button:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 1rem var(--clr_2);
  opacity: 0.4;
}

.Button:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.2rem;
}

.Button:focus:after {
  animation: focusAni 0.6s ease-out;
}

@keyframes focusAni {
  0% {
    box-shadow: 0 0 0.8rem -0.8rem var(--clr_2);
    opacity: 0.5;
  }
  100% {
    box-shadow: 0 0 0.8rem 1.4rem var(--clr_2);
    opacity: 0;
  }
}

.button_secondary {
  background: var(--clr_1_1);
  color: var(--clr_white_1);
  border-color: var(--clr_1_1);
}

.button_secondary:before {
  box-shadow: none;
}

.button_secondary:hover {
  color: var(--clr_white_1);
  background: transparent;
}

.AppBody {
  display: flex;
  flex-direction: column;
}

.body_section {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.body_section.hero_section {
  max-width: 75%;
  align-self: center;
  text-align: center;
}

.heading_primary {
  font-size: 3.6rem;
  font-weight: 700;
}

.heading_secondary {
  font-size: 1.2rem;
  color: var(--clr_white_3);
}

.hero_buttons {
  display: flex;
  gap: 1rem;

  align-self: center;
}

.hero_buttons .Button {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
}

.body_section.hero_video {
  position: relative;
  width: 85%;
  align-self: center;
}

.hero_video_icon {
  position: absolute;
  z-index: 990;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: var(--clr_white_2);
  display: flex;
  border-radius: 0.2rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 2rem var(--clr_1);
}

.hero_video_icon:hover {
  background: var(--clr_white_1);
  transform: scale(1.25);
}

.hero_video_icon svg {
  fill: var(--clr_2);
  --size: 2rem;
  height: var(--size);
  width: var(--size);
}

.hero_vid_img {
  position: relative;
  z-index: 980;
}

.hero_vid_img img {
  max-width: 100%;
  border-radius: 0.2rem;
  transition: 0.2s;
  z-index: 980;
  position: relative;
}

.hero_video:has(.hero_video_icon:hover) .hero_vid_img img {
  filter: saturate(3.6);
}

.video_popup {
  position: fixed;
  z-index: 1000;
  /* left: 50%;
  top: 50%;
  translate: -50% -50%; */

  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

.close_popup {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: var(--clr_2);
  --size: 3rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  z-index: 1020;

  transition: 0.2s;
  cursor: pointer;
  opacity: 0.5;
}

.close_popup:hover {
  scale: 1.25;
  opacity: 1;
}

.close_popup:before,
.close_popup:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  height: calc(var(--size) / 1.5);
  width: calc(var(--size) / 10);
  background: var(--clr_white_1);
  border-radius: 100rem;
}

.close_popup:before {
  rotate: -45deg;
}

.close_popup:after {
  rotate: 45deg;
}

.video_popup video {
  z-index: 1010;
  border-radius: 0.2rem;
  max-height: 75vh;
  max-width: 75vw;
}

.video_popup::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: var(--clr_1);
  opacity: 0.75;
}

.BgSvg {
  position: absolute;
}

.BgSvg1 {
  right: 0;
  top: 0;
}

.BgSvg2 {
  left: -12rem;
  bottom: -6rem;
  z-index: 10;
}

.BgSvg1 stop {
  stop-color: var(--clr_2);
}
